*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #ecf9ff;
}

body {
    padding: 0px;
    background-color: rgb(220, 220, 220);
	margin:0;
}

header {
    padding: 10px;
}


#precontent{
    text-align: center;
    margin: 0px;
}
#precontent h1{
	font-family: 'Kaushan Script', cursive;
	    font-size: 90px;

}

aside {
	background:#e67e22;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/
 
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

.main {
	background:#fff;
	padding:20px;
 
	flex:1 1 70%;
	/*flex:1;*/
}
#precontent h2{
	color:#74A044;
}
.card-date {
    width: 60px;
    position: absolute;
    padding: 5px;
    margin: 0 10px;
    background-color: #CCCC66;
}

.card-date .year {
    letter-spacing: 2px;
    border-top: 1px solid;
    text-align: center;
    margin-bottom: 0;
}

.card-date .month {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.card-date .day {
    font-size: 35px;
    color: wheat;
    margin-bottom: 0;
}

.card-title {
    color: #74A044;
}

.card-text {
    color: #3B4146;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal .card-text {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
}
.card_item:hover{
    box-shadow: 0px 2px 3px;
}

.rigth {
    float: right;
}

.place {
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.left {
    float: left;
	width: 75%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

.cards_item .higthligh {
}

.premium {
    position: absolute;
    font-size: 60px;
    color: #74d853;
    right: 30px;
    top: 0px;
}

.date {
    color: #4ac123;
    font-size: 12px;
    text-transform: uppercase;
    /* margin-left: 15px; */
    padding: 2px 1px;
    font-weight: bold;
}

.alert.alert-danger {
    color: black;
    font-size: 15px;
    letter-spacing: 5px;
}

.alert-danger a {
    color: #4ac123;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

.alert-danger a:hover {
    color: #74A044;
    text-decoration: none;
}

.premium span.badge.badge-info {
    background-color: #74d853;
}

footer {
    padding: 30px 10px;
    color: #666;
    font-size: 14px;
    text-align: center;
    background-color: black;
	margin-top:80px;
}

.social>ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.social>ul {
    margin: 0px;
}

.social>ul>li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}

.details {
    position: relative;
    display: inline-block;
    width: 50%;
}

.details>div {
    border: 1px solid #74A044;
    color: #74A044;
    width: 100%;
    text-align: center;
    padding: 3px 10px;
    text-transform: uppercase;
}

.details>div:hover {
    color: #fff;
    background-color: #74A044;
}

.social {
    position: relative;
    display: inline-block;
    width: 30%;
}

.social>ul>li {
    padding: 0px;
}

.social>ul>li>a {
    padding: 3px 0px;
}

.social>ul>li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

.facebook a,
.twitter a,
.whatsapp a,
.linkedin a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}

.twitter a {
    color: rgb(79, 213, 248) !important;
}

.linkedin a {
    color: rgb(14, 118, 168) !important;
}

.whatsapp a {
    color: rgb(7, 94, 84) !important;
}

.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}

.linkedin:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(14, 118, 168) !important;
}

.whatsapp:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(7, 94, 84) !important;
}

@media (min-width: 768px) {
    .social>ul>li {
        display: inline-block;
        padding: 0px;
    }
    .social>ul>li>a {
        display: inline-block;
    }
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 25%;
    }
}


/**********************MENU******************************/
#header .navbar-light .navbar-nav .nav-link:focus,
#header .navbar-light .navbar-nav .nav-link:hover {
    color: #74A044;
}
#header nav{
  padding: 0px;
}
#header nav img{
   height: 34px;
}
#header .navbar-light .navbar-nav .nav-link {
  color: #5a5a5a;
  font-size: 15px;
}
#header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    float: left;
    width: 100%;
}
#header ul.navbar-nav {
    position: absolute;
    right: 0;
}
#header li.nav-item {
    margin: 0px 10px;
}
#header .navbar-light .navbar-nav .active>.nav-link, #header .navbar-light .navbar-nav .nav-link.active, #header .navbar-light .navbar-nav .nav-link.show, #header .navbar-light .navbar-nav .show>.nav-link {
    color: #74A044;
}
#header .dropdown-menu.show {
    border: none;
}
.topbar {
    background-color: #74A044;
    color: #fff;
    padding: 4px 0px;
}
.topbar ul{
  margin: 0px;
  padding: 0px;
}
.topbar ul li {
    float: left;
    list-style: none;
    margin: 3px 7px;
    font-size: 15px;
}
.topbar ul li a{
  color: #fff;
}
.topbar ul li i {
    font-size: 18px;
    margin-right: 3px;
}
.topbar ul li.followus-label {
    font-weight: bold;
}
#header .social-icon {
    float: right;
}
/*=============Responsive css==================*/
@media (max-width: 991px){
.topbar ul li {
    margin: 3px 3px;
    font-size: 12px;
}
#header ul.navbar-nav {
    position: static;
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 15px 0px 0px;
}
}